* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.team-member {
    text-align: center;
    margin-bottom: 20px;
}

.team-member img {
    width: 100px; /* Personalizza la larghezza dell'immagine a tuo piacimento */
    border-radius: 50%; /* Aggiunge un bordo rotondo all'immagine */
}